/* 
 Student Name: Hope Phillips
 File Name: styles1.css
 Date: 04/11/2023
-->


/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body and images */
body {
    background-color: #f4f1dd;
}


/*Style rules for mobile viewport*/


/*Style rule to hide tablet-desk class*/
.tablet-desk {
    display: none;
}

/* Style rule for header */
header {
    font-family: 'Zen Maru Gothic', san-serif;
    background-color: #f4f1dd;
    text-align: center;
    padding: 30px 10%;
    color: #78851f;
    font-size: 30px;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}

.logo {
    margin-right: auto;
    display: grid;
}

/* Style rules for nav */
nav {
    font-family: 'Zen Maru Gothic', san-serif;
    padding: 0 20px;
    background-color: #f4f1dd;
    text-align: center;
    font-size: 15px; 
}

nav a {
    color: #78851f;
    text-decoration: none;
    margin: 10px ;
    transition: 0.2s;
    display: inline-block;
    padding: 0 10px;
}

nav a:hover {
    color: #3f470a;
}

.social-icon {
    color: #78851f;
    text-decoration: none;
    transition: 0.2s;
    display: inline-block;
    padding: 0 10px;
    font-size: 18px; 
}

.social-icon:hover {
    color: #3f470a;
    transform: scale(1.3);
}

/* Style rules for main content  */
main {
    background-color: #f4f1dd;
    font-family: 'Zen Maru Gothic', san-serif;
    padding: 0 300px;
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
}

.container {
    position: relative;
    text-align: center;
}

img {
    max-width: 100%; 
    max-height: 100%;
}

.centered {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a4b628; 
    text-align: center; 
    font-size: 80px;
}

.icon {
    color: #78851f;
    background-color: #faf7f6;
    font-size: 50px; 
    cursor: pointer; 
}

.icon:hover {
    color: #3f470a; 
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 0 100px 0 100px;
}

.img-wrapper {
    position: relative;
    overflow: hidden;
    padding: 100px;
    transition: transform 0.5s;
}

.img-wrapper > img {
    display: block;
    width: 100%;
    aspect-ratio: 2/1; 
    object-fit: cover; 
    object-position: center; 
}

.img-wrapper > .content {
    position: absolute; 
    inset: 0;
    font-size: 2rem;
    padding: 1rem;
    background: #f4f1dd63;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.img-wrapper > .img,
.img-wrapper > .content {
    transition: 200ms ease-in-out;
}

.img-wrapper:hover > img.blur {
    filter: blur(1px);
}

.img-wrapper:hover > img.zoom {
    transform: scale(1.1);
}

.img-wrapper > .content.fade {
    opacity: 0;
}

.img-wrapper:hover > .content.fade {
    opacity: 1;
}

a:link, a:visited, a:active {
    color: #3f470a; 
}

/* Style rule for footer */
footer {
    font-family: 'Zen Maru Gothic', san-serif;
    font-size: .70em;
    text-align: center;
    margin-top: 2em;
}
