/* 
 Student Name: Hope Phillips
 File Name: styles3.css
 Date: 04/11/2023
-->


/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body and images */
body {
    background-color: #f4f1dd;
}


/*Style rules for mobile viewport*/


/*Style rule to hide tablet-desk class*/
.tablet-desk {
    display: none;
}

/* Style rule for header */
header {
    font-family: 'Zen Maru Gothic', san-serif;
    background-color: #f4f1dd;
    text-align: center;
    padding: 30px 10%;
    color: #78851f;
    font-size: 30px;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}

.logo {
    margin-right: auto;
    
}

/* Style rules for nav */
nav {
    font-family: 'Zen Maru Gothic', san-serif;
    padding: 0 20px;
    background-color: #f4f1dd;
    text-align: center;
    font-size: 15px; 
}

nav a {
    color: #78851f;
    text-decoration: none;
    margin: 10px ;
    transition: 0.2s;
    display: inline-block;
    padding: 0 10px;
}

nav a:hover {
    color: #3f470a;
}

.social-icon {
    color: #78851f;
    text-decoration: none;
    transition: 0.2s;
    display: inline-block;
    padding: 0 10px;
    font-size: 18px;
}

.social-icon:hover {
    color: #78851f;
    transform: scale(1.3);
}
/* Style rules for main content  */
main {
    display: block;
    background-color: #f4f1dd;
    font-family: 'Zen Maru Gothic', san-serif;
    padding: 30px 10%;
}

h2 {
    color: #78851f;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
}

.container img{
    max-width: 1000px;
}

.gallery {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
}

.gallery {
    padding-bottom: 30px;
    border border-radius: 5px; 
    transition: transform 0.5s;
}

.gallery:hover {
    transform: scale(1.1);
}

.text {
    font-size: 20px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    color: #78851f;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 50px;
}

.dream img {
    padding-bottom: 30px;
    border border-radius: 5px; 
    transition: transform 0.5s;
}

.dream img:hover {
    transform: scale(1.1);
}


ul {
    list-style-type: inherit;
}

ul li:before {
    content: '\2014'
    position absolute; 
    margin-left: -20-x; 
}

/* Style rule for footer */
footer {
    font-family: 'Zen Maru Gothic', san-serif; 
    font-size: .70em;
    text-align: center;
    margin-top: 2em;
}

